body {
    font-family: 'Roboto' sans-serif;
}
/* navbar styles */
.navbar{
    background-image: url('https://pngimg.com/uploads/pizza/pizza_PNG44089.png');
    display: flex;
    align-items: center;
    padding-bottom: 650px;
    justify-content: center;
    top: 0px;
    background-color: green;
    overflow: hidden;
    cursor: pointer;
    
    
}
.nav-text{
    color: yellow;
}
.list{
    width: 50%;
    display: flex;
    position: sticky;
}
li{
    display: inline;
    padding: 20px 20px;
}
a{
    color: white;
    text-decoration: none;
}

/* about us styles */
.about{
    text-align: center;
    background-image: url('images/pizza-3010062.jpg');
}
.about p{
    font-size: 20px;
    font-family:sans-serif ;
}

/* pizza images styles */
.col-md-4{
    display: inline-block;
    padding: 10px;
}
.form-group{
    align-items: center;
    text-align: center;
}
.col-xs-4{
    align-items: center;
    text-align: center;
}

.order-button{
    align-items: center;
    text-align: center;
}
.card-img-top{
    height: 30vh;
}
#contact{
    background-color: aqua;
    text-align: center;
    font-size: 20px;
    padding: 50px;
}
.col-md-3{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding: 50px;
}
#submit-pizza{
    font-size: 20px;
}