body {
    font-family: 'Roboto' sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
/* navbar styles */
.navbar{
    display: flex;
    align-items: center;
    padding-bottom: auto;
    justify-content: center;
    top: 0px;
    background-color:rgb(134, 24, 46);
    overflow: hidden;
    cursor: pointer;
    height: 30px;
    
}
.nav-text{
    color:crimsonrgb(134, 24, 46);
}
.list{
    list-style: none;
    width: 50;
    display: flex;
    position: sticky;
}
li{
    list-style: none;
    display: inline;
    padding: 20px 20px;
}
a{
    color: white;
    text-decoration: none;
}

/* about us styles */
section{
    text-align: center;
    background-image: url('images/pizza-3010062.jpg');
    display: flex;
    align-items: center ;
    padding-top: 50px;
    padding-bottom: 50px;

}
section p {
    width: 80%;
    line-height: 1.5;
    margin-bottom: 20px;
}
section .right{
    width: 200px;
    height: 300x;
}

/* pizza images styles */
.col-md-4{.right
    display: inline-block;
    padding: 10px;
}
.form-group{
    align-items: center;
    text-align: left;
}
.col-xs-4{
    align-items: center;
    text-align: center;
}

.order-button{
    align-items: center;
    text-align: center;
}
.card-img-top{
    height: 30vh;
}
#contact{
    background-color:rgb(134, 24, 46);
    text-align: center;
    font-size: 20px;
    padding: 30px;
}
.col-md-3{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding: 50px;
}
#submit-pizza{
    font-size: 20px;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: center;
    padding: 0 2em;
}
.card-img-top{
    width: 9em;
    height: auto;
}